    <!-footer-!>     
    <footer  id="footerSpace" style="background-color:rgb(24, 2, 2);">
    <h6 class="text-center pt-2" style="color: #fff;">Connect with us on:</h6>
        <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="https://www.facebook.com/CodeChef-CGCCOE-107766667677207" target="_blank"><i class='fab fa-facebook' style='font-size:36px'></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.instagram.com/codechef.cgccoe/" target="_blank"><i class='fab fa-instagram' style='font-size:36px'></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://t.me/CodechefCGC" target="_blank"><i class='fab fa-telegram-plane' style='font-size:36px'></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://twitter.com/Codechef_CGC" target="_blank" ><i class='fab fa-twitter' style='font-size:36px'></i></a>
        </li>
        </ul>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/javascripts/jquery.slim.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript">
       $(document).on('click', 'ul li', function() {
           $(this).addClass('active').siblings().removeClass('active');
       })
    </script>
  </body>
</html>