<%- include('./partials/header') %>

<style>
    body {
          background-image: url(../images/eb.jpg);
          background-repeat: no-repeat;
          background-size: inherit;
          background-position: center;
    }
</style>

<div class="d-flex align-items-stretch" style="margin-top: 100px;">
      <nav id="sidebar">
          <div class="p-4 pt-5">
            <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(../images/topa3.png);background-size: contain;"></a>
      <ul class="list-unstyled components mb-5">
        <li class="active">
            <a class="nav-link" href="/events/2019-20"><b>Chapter 2019-20</b></a>
        </li>
        <li>
          <a class="nav-link" href="/events/2020-21"><b>Chapter 2020-21</b></a>
        </li> 
        <li>
        <a class="nav-link" href="/upcoming_events"><b>Upcoming Events</b></a>
        </li>
       
      </ul>

    </div>
  </nav>

<!- upcoming card-!>

<div class="container">
 <div class="row">
     <div class="col-sm-6 col-lg-4 col-md-4">
     <div class="card text-center" style="box-shadow: 0px 0px 20px #888888">
<img class="card-img-top" src="/images/quixbyte.png" alt="quiz">
<div class="card-body">
<h5 class="card-title">Quizbyte</h5>
<hr>
<p class="card-text"><i>Online Quiz Competition<br>
Date Conducted: 15/04/2020<br>
Time Duration: 07 hours<br>
No. of Participants: 130
</i></p>
<a href="singleevent.htm" class="btn btn-primary" data-toggle="modal" data-target="#modal1">Know More</a>
</div>
</div>
          <!-- Modal -->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLongTitle">Quizbyte</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  In order to keep the spirit of programming alive during boring lockdown we organised this event based on the basic problems and got a huge number of participation and the coders enjoyed brainstorming for 10 hours long hackathon.
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  
</div>
</div>
</div>
</div>
</div> 
     
<div class="col-sm-6 col-lg-4 col-md-4"> 
<div class="card text-center" style="box-shadow: 0px 0px 20px #888888" id="re">
<img class="card-img-top" src="/images/s4.png" alt="firebase">
<div class="card-body">
<h5 class="card-title">CHEF OF THE WEEK</h5>
<hr>
<p class="card-text"><i>Weekly Quiz<br>
Date Conducted: 04/05/2020<br>
Time Duration: 1 Week<br>
No. of Participants: 80-85
</i></p>
<a href="singleevent2.htm" class="btn btn-primary" data-toggle="modal" data-target="#modal2">Know More</a>
</div>
</div>
   <!-- Modal -->
<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLongTitle">Chef of the week</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  In order to boost up the basis of Competitive Programming we organised coding questions series on Programming language (C++, Java and Python) everyday which helped students keep the spirit of programming alive and at the end of the week the three programmers are selected as the "Chef of the Week".
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  
</div>
</div>
</div>
</div>
</div>
     
  <div class="col-sm-6 col-lg-4 col-md-4">
     <div class="card text-center" style="box-shadow: 0px 0px 20px #888888" id="le">
<img class="card-img-top" src="/images/codequarantine.png" alt="gcp" >
<div class="card-body">
<h5 class="card-title">CODE QUARANTINE</h5>
<hr>
<p class="card-text"><i>Online Coding Competition<br>
Date Conducted: 01/04/2020<br>
Time Duration: 10 hours<br>
No. of Participants: 70-75
</i></p>
<a href="singleevent3.htm" class="btn btn-primary" data-toggle="modal" data-target="#modal3">Know More</a>
</div>
</div>
       <!-- Modal -->
<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLongTitle">Code Quarantine</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  In order to keep the spirit of programming alive during boring lockdown we organised this event based on the basic problems and got a huge number of participation and the coders enjoyed brainstorming for 10 hours long hackathon.
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  
</div>
</div>
</div>
</div>
</div> 
    </div>
</div>

</div>

<br>
<br>
<br>

<%- include('./partials/footer') %>
