<%- include('./partials/header') %>

<div class="container">
    <div class="row" style="margin-top: 90px">
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 pcimg" style="height: 230px; width: 300px; background-image: url(images/ritiknew.jpg); background-size: cover; border-radius: 25px;">
        </div>
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 mobileimg ml-2" style="height: 150px; width: 150px; background-image: url(images/Ritik%20Sharma.jpeg); background-size: cover; border-radius: 25px;">
        </div>
        
        <div class="col-8 col-sm-8 col-md-9 col-lg-9">
            <h1 class="text-right" style="font-family: sans-serif;" id="teamh1">Ritik Sharma</h1>
            <p class="lead text-right" id="teamlead">Campus Chapter Leader</p>
             <ul class="nav justify-content-end">
                <li class="nav-item">
                     <a class="nav-link" href="http://www.linkedin.com/in/ritik-sharma17" target="_blank"><i class='fab fa-linkedin' style='font-size:26px; color: black'  id="teami"></i></a>
                </li>
                <li class="nav-item">
                     <a class="nav-link" href="https://www.instagram.com/sharmahritikkk/" target="_blank"><i class='fab fa-instagram' style='font-size:26px; color: black' id="teami"></i></a>
                </li>
                
                
              </ul>
       
          
        </div>
        
        
        <div class="col-8 col-sm-8 col-md-8 col-lg-9 mt-2" >
            <hr id="teamhr">
            <h1 style="font-family: sans-serif;" id="teamh1">Vinayak Rai</h1>
            <p class="lead" id="teamlead">He is looking into organizing events and maintaing participants records and internal and external conflict resolution</p>
              <ul class="nav justify-content-left">
                <li class="nav-item">
                     <a class="nav-link" href="https://www.facebook.com/viniyak.rai.94" target="_blank"><i class='fab fa-facebook' style='font-size:26px; color: black' id="teami" ></i></a>
                </li>
                <li class="nav-item">
                     <a class="nav-link" href="https://www.linkedin.com/in/vinayak-rai-a9b231193" target="_blank"><i class='fab fa-linkedin' style='font-size:26px; color: black' id="teami"></i></a>
                </li>
                
                
              </ul>
          
        </div>
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 pcimg" style="height: 230px; width: 300px; background-image: url(images/Vinayak%20Rai.jpeg); background-size: cover; border-radius: 25px;">
        </div>
         <div class="col-3 col-sm-3 col-md-3 col-lg-3 mobileimg mr-2" style="height: 150px; width: 150px; background-image: url(images/Vinayak%20Rai.jpeg); background-size: cover; border-radius: 25px;">
        </div>
        
      <div class="col-3 col-sm-3 col-md-3 col-lg-3 pcimg" style="height: 230px; width: 300px; background-image: url(images/Shubham.jpg); background-size: cover; border-radius: 25px;">
        </div>
         <div class="col-3 col-sm-3 col-md-3 col-lg-3 mobileimg ml-2" style="height: 150px; width: 150px; background-image: url(images/Shubham.jpg); background-size: cover; border-radius: 25px;">
        </div>
        
         
        <div class="col-8 col-sm-8 col-md-8 col-lg-9 mt-2">
            <hr id="teamhr">
            <h1 class="text-right " style="font-family: sans-serif;" id="teamh1">Shubham</h1>
            <p class="lead text-right" id="teamlead">Into Problem Setting, Web Development lead</p>
              <ul class="nav justify-content-end">
                <li class="nav-item">
                     <a class="nav-link" href="https://www.linkedin.com/in/shubham-sharma-392347175" target="_blank"><i class='fab fa-linkedin' style='font-size:26px; color: black' id="teami" ></i></a>
                </li>
                <li class="nav-item">
                     <a class="nav-link" href="https://www.instagram.com/shubham_529_/" target="_blank"><i class='fab fa-instagram' style='font-size:26px; color: black' id="teami"></i></a>
                </li>
                
                
              </ul>
        </div>
            
       <div class="col-8 col-sm-8 col-md-8 col-lg-9 mt-2" >
           <hr id="teamhr">
           <h1 style="font-family: sans-serif;" id="teamh1">Saksham</h1>
            <p class="lead" id="teamlead">Into Information Security</p>
             <ul class="nav justify-content-left">
                <li class="nav-item">
                     <a class="nav-link" href="https://www.linkedin.com/in/saksham-singh-4a5a651b0" target="_blank"><i class='fab fa-linkedin' style='font-size:26px; color: black' id="teami" ></i></a>
                </li>
                <li class="nav-item">
                     <a class="nav-link" href="https://www.instagram.com/codechef.cgccoe/" target="_blank"><i class='fab fa-instagram' style='font-size:26px; color: black' id="teami"></i></a>
                </li>
                
                
              </ul>
        </div>
        
        
           <div class="col-3 col-sm-3 col-md-3 col-lg-3 pcimg" style="height: 230px; width: 300px; background-image: url(images/Saksham%20singh.jpeg); background-size: cover; border-radius: 25px;">
        </div>
         <div class="col-3 col-sm-3 col-md-3 col-lg-3 mobileimg mr-2" style="height: 150px; width: 150px; background-image: url(images/Saksham%20singh.jpeg); background-size: cover; border-radius: 25px;">
        </div> 
           
           <div class="col-3 col-sm-3 col-md-3 col-lg-3 pcimg" style="height: 230px; width: 300px; background-image: url(images/vipul.jpg); background-size: cover; border-radius: 25px;">
        </div>
         <div class="col-3 col-sm-3 col-md-3 col-lg-3 mobileimg ml-2" style="height: 150px; width: 150px; background-image: url(images/vipul.jpg); background-size: cover; border-radius: 25px;">
        </div> 
           
        <div class="col-8 col-sm-8 col-md-8 col-lg-9 mt-2">
            <hr id="teamhr">
            <h1 class="text-right " style="font-family: sans-serif;" id="teamh1">Vipul Gupta</h1>
            <p class="lead text-right" id="teamlead">Webmaster</p>
              <ul class="nav justify-content-end">
                <li class="nav-item">
                     <a class="nav-link" href="https://www.linkedin.com/in/vipul-gupta-18066a1b2" target="_blank"><i class='fab fa-linkedin' style='font-size:26px; color: black'  id="teami"></i></a>
                </li>
                <li class="nav-item">
                     <a class="nav-link" href="https://www.instagram.com/vipulgupta003/" target="_blank"><i class='fab fa-instagram' style='font-size:26px; color: black' id="teami"></i></a>
                </li>
                
                
              </ul>
        </div>   
           
          <div class="col-8 col-sm-8 col-md-8 col-lg-9 mt-2" >
              <hr id="teamhr">
              <h1 style="font-family: sans-serif;" id="teamh1">Sukhanpreet Singh</h1>
            <p class="lead" id="teamlead">Graphics Designer</p>
                <ul class="nav justify-content-left">
                <li class="nav-item">
                     <a class="nav-link" href="https://www.linkedin.com/in/sukhanpreet-singh-dhillon-7782a6190" target="_blank"><i class='fab fa-linkedin' style='font-size:26px; color: black' id="teami" ></i></a>
                </li>
                <li class="nav-item">
                     <a class="nav-link" href="https://www.instagram.com/rbbsukhrkhe/" target="_blank"><i class='fab fa-instagram' style='font-size:26px; color: black' id="teami"></i></a>
                </li>
                
                
              </ul>
        </div>
        
         <div class="col-3 col-sm-3 col-md-3 col-lg-3 pcimg" style="height: 230px; width: 300px; background-image: url(images/Sukhanpreet%20Singh.jpeg); background-size: cover; border-radius: 25px;">
        </div>
         <div class="col-3 col-sm-3 col-md-3 col-lg-3 mobileimg mr-2" style="height: 150px; width: 150px; background-image: url(images/Sukhanpreet%20Singh.jpeg); background-size: cover; border-radius: 25px;">
        </div> 
        
         <div class="col-3 col-sm-3 col-md-3 col-lg-3 pcimg" style="height: 230px; width: 300px; background-image: url(images/Chelsi%20Somani.jpeg); background-size: cover; border-radius: 25px;">
        </div>
        
         <div class="col-3 col-sm-3 col-md-3 col-lg-3 mobileimg ml-2" style="height: 150px; width: 150px; background-image: url(images/Chelsi%20Somani.jpeg); background-size: cover; border-radius: 25px;">
        </div> 
        
             
        <div class="col-8 col-sm-8 col-md-8 col-lg-9 mt-2">
            <hr id="teamhr">
            <h1 class="text-right " style="font-family: sans-serif;" id="teamh1">Chelsi Somani</h1>
            <p class="lead text-right" id="teamlead">Into Digital Marketing and publicity of Our events</p>
              <ul class="nav justify-content-end">
                <li class="nav-item">
                     <a class="nav-link" href="https://www.facebook.com/chelsi.somani" target="_blank"><i class='fab fa-facebook' style='font-size:26px; color: black' id="teami" ></i></a>
                </li>
                <li class="nav-item">
                     <a class="nav-link" href="https://www.instagram.com/chelsi_somani/" target="_blank"><i class='fab fa-instagram' style='font-size:26px; color: black' id="teami"></i></a>
                </li>
                
                
              </ul>
        </div>   
           
          <div class="col-8 col-sm-8 col-md-8 col-lg-9 mt-2" >
              <hr id="teamhr">
              <h1 style="font-family: sans-serif;" id="teamh1">Vikas Kumar</h1>
            <p class="lead" id="teamlead">Security Analysist</p>
                <ul class="nav justify-content-left">
                <li class="nav-item">
                     <a class="nav-link" href="https://www.linkedin.com/in/vikas-sethi" target="_blank"><i class='fab fa-linkedin' style='font-size:26px; color: black' id="teami" ></i></a>
                </li>
                <li class="nav-item">
                     <a class="nav-link" href="https://www.instagram.com/_vikas_sethi_/" target="_blank"><i class='fab fa-instagram' style='font-size:26px; color: black' id="teami"></i></a>
                </li>
                
                
              </ul>
        </div>
        
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 pcimg" style="height: 230px; width: 300px; background-image: url(images/Vikas%20Kumar.jpg); background-size: cover; border-radius: 25px;">
        </div>
         <div class="col-3 col-sm-3 col-md-3 col-lg-3 mobileimg mr-2" style="height: 150px; width: 150px; background-image: url(images/Vikas%20Kumar.jpg); background-size: cover; border-radius: 25px;">
        </div> 
        
         <div class="col-3 col-sm-3 col-md-3 col-lg-3 pcimg" style="height: 230px; width: 300px; background-image: url(images/Abhishek%20Kumar.jpeg); background-size: cover; border-radius: 25px;">
        </div>
         <div class="col-3 col-sm-3 col-md-3 col-lg-3 mobileimg ml-2" style="height: 150px; width: 150px; background-image: url(images/Abhishek%20Kumar.jpeg); background-size: cover; border-radius: 25px;">
        </div>
        
         <div class="col-8 col-sm-8 col-md-8 col-lg-9 mt-2">
             <hr id="teamhr">
            <h1 class="text-right " style="font-family: sans-serif;" id="teamh1">Abhishek Kumar</h1>
            <p class="lead text-right" id="teamlead">Full Stack Web Developer</p>
               <ul class="nav justify-content-end">
                <li class="nav-item">
                     <a class="nav-link" href="https://www.linkedin.com/in/abhishek-kumar-8583321a7" target="_blank"><i class='fab fa-linkedin' style='font-size:26px; color: black' id="teami" ></i></a>
                </li>
                <li class="nav-item">
                     <a class="nav-link" href="https://www.instagram.com/_its_absk_/" target="_blank"><i class='fab fa-instagram' style='font-size:26px; color: black' id="teami"></i></a>
                </li>
                
                
              </ul>
        </div>  
        
          <div class="col-8 col-sm-8 col-md-8 col-lg-9 mt-2" >
              <hr id="teamhr">
              <h1 style="font-family: sans-serif;" id="teamh1">Shubh Bhardwaj</h1>
            <p class="lead" id="teamlead">Web Developer</p>
                <ul class="nav justify-content-left">
                <li class="nav-item">
                     <a class="nav-link" href="https://www.facebook.com/shubh.bharadwaj.31" target="_blank"><i class='fab fa-facebook' style='font-size:26px; color: black'  id="teami"></i></a>
                </li>
                <li class="nav-item">
                     <a class="nav-link" href="https://www.instagram.com/shubh.bharadwaj.11/" target="_blank"><i class='fab fa-instagram' style='font-size:26px; color: black' id="teami"></i></a>
                </li>
                
                
              </ul>
        </div>
        
        
         <div class="col-3 col-sm-3 col-md-3 col-lg-3 pcimg" style="height: 230px; width: 300px; background-image: url(images/Shubh%20Bhardwaj.jpeg); background-size: cover; border-radius: 25px;">
        </div>
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 mobileimg ml-2" style="height: 150px; width: 150px; background-image: url(images/Shubh%20Bhardwaj.jpeg); background-size: cover; border-radius: 25px;">
        </div>
        
           
      
      </div>
    </div>

<%- include('./partials/footer') %>
