<%- include('./partials/header') %>

<style>
     body {
          background-image: url(images/tbg.jpg);
          background-repeat: no-repeat;
          background-size: cover;
     }
     #teamhr {
          background-color: #fff;
     }
     h1 {
          color: #fff;
     }
     p {
          color: #fff;
     }
</style>

<div class="container">
    <div class="row" style="margin-top: 90px">
     <div class="col-8 col-sm-8 col-md-8 col-lg-9 mt-2" >
            
          <h1 style="font-family: sans-serif;" id="teamh1">Er. Kapil Mehta</h1>
          <p class="lead" id="teamlead" style="color: white;"><b>FACULTY MENTOR</b></p>
          <p class="lead" id="teamlead">A team can't run without proper mentoring and guidance. He is the one who serves as a backbone for all the official conduct of our community.</p>
            <ul class="nav justify-content-left">
              <li class="nav-item">
                   <a class="nav-link" href="http://www.linkedin.com/in/er-kapil-mehta-72476089/" target="_blank"><i class='fab fa-linkedin' style='font-size:26px; color: #fff' id="teami" ></i></a>
              </li>
              <li class="nav-item">
                   <a class="nav-link" href="https://www.instagram.com/spartan.kapil/" target="_blank"><i class='fab fa-instagram' style='font-size:26px; color: #fff' id="teami"></i></a>
              </li>
              
              
            </ul>
        </div>
      <div class="col-3 col-sm-3 col-md-3 col-lg-3 pcimg" style="height: 230px; width: 300px; background-image: url(images/sir.jpg); background-size: cover; border-radius: 25px;">
      </div>
       <div class="col-3 col-sm-3 col-md-3 col-lg-3 mobileimg mr-2" style="height: 150px; width: 150px; background-image: url(images/sir.jpg); background-size: cover; border-radius: 25px;">
      </div>
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 pcimg" style="height: 230px; width: 300px; background-image: url(images/ritiknew.jpg); background-size: cover; border-radius: 25px;">
        </div>
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 mobileimg ml-2" style="height: 150px; width: 150px; background-image: url(images/Ritik%20Sharma.jpeg); background-size: cover; border-radius: 25px;">
        </div>
        
        <div class="col-8 col-sm-8 col-md-9 col-lg-9">
             <hr id="teamhr">
            <h1 class="text-right" style="font-family: sans-serif;" id="teamh1">Ritik Sharma</h1>
            <p class="lead text-right" style="color: white;"><b>CAMPUS CHAPTER LEADER</b></p>
            <p class="lead text-right" id="teamlead">A ship can sail but never reach it's destination without a captain. He is the one who plans out different events and comes out with new ideas for the smooth running of this chapter.</p>
             <ul class="nav justify-content-end">
                <li class="nav-item">
                     <a class="nav-link" href="http://www.linkedin.com/in/ritik-sharma17" target="_blank"><i class='fab fa-linkedin' style='font-size:26px; color: #fff'  id="teami"></i></a>
                </li>
                <li class="nav-item">
                     <a class="nav-link" href="https://www.instagram.com/sharmahritikkk/" target="_blank"><i class='fab fa-instagram' style='font-size:26px; color: #fff' id="teami"></i></a>
                </li>
                
                
              </ul>
       
          
        </div>
        
        
        <div class="col-8 col-sm-8 col-md-8 col-lg-9 mt-2" >
            <hr id="teamhr">
            <h1 style="font-family: sans-serif;" id="teamh1">Vinayak Rai</h1>
            <p class="lead" style="color: white;"><b>EVENT ADMINISTRATOR</b></p>
            <p class="lead" id="teamlead">He is the backbone for all of our events. He looks into working, planning, control and execution of all of the events being conducted.</p>
              <ul class="nav justify-content-left">
                <li class="nav-item">
                     <a class="nav-link" href="https://www.facebook.com/viniyak.rai.94" target="_blank"><i class='fab fa-facebook' style='font-size:26px; color: #fff' id="teami" ></i></a>
                </li>
                <li class="nav-item">
                     <a class="nav-link" href="https://www.linkedin.com/in/vinayak-rai-a9b231193" target="_blank"><i class='fab fa-linkedin' style='font-size:26px; color: #fff' id="teami"></i></a>
                </li>
                
                
              </ul>
          
        </div>
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 pcimg" style="height: 230px; width: 300px; background-image: url(images/Vinayak%20Rai.jpeg); background-size: cover; border-radius: 25px;">
        </div>
         <div class="col-3 col-sm-3 col-md-3 col-lg-3 mobileimg mr-2" style="height: 150px; width: 150px; background-image: url(images/Vinayak%20Rai.jpeg); background-size: cover; border-radius: 25px;">
        </div>
        
      <div class="col-3 col-sm-3 col-md-3 col-lg-3 pcimg" style="height: 230px; width: 300px; background-image: url(images/Shubham.jpg); background-size: cover; border-radius: 25px;">
        </div>
         <div class="col-3 col-sm-3 col-md-3 col-lg-3 mobileimg ml-2" style="height: 150px; width: 150px; background-image: url(images/Shubham.jpg); background-size: cover; border-radius: 25px;">
        </div>
        
         
        <div class="col-8 col-sm-8 col-md-8 col-lg-9 mt-2">
            <hr id="teamhr">
            <h1 class="text-right " style="font-family: sans-serif;" id="teamh1">Shubham</h1>
            <p class="lead text-right" style="color: white;"><b>CONTENT SUPERVISOR</b></p>
            <p class="lead text-right" id="teamlead">The content provided to you through our chapter is thoroughly reviewed before publishing. Whether it is setting the questions for our next event or informative content for social media handle. He is the quality checker.</p>
              <ul class="nav justify-content-end">
                <li class="nav-item">
                     <a class="nav-link" href="https://www.linkedin.com/in/shubham-sharma-392347175" target="_blank"><i class='fab fa-linkedin' style='font-size:26px; color: #fff' id="teami" ></i></a>
                </li>
                <li class="nav-item">
                     <a class="nav-link" href="https://www.instagram.com/shubham_529_/" target="_blank"><i class='fab fa-instagram' style='font-size:26px; color: #fff' id="teami"></i></a>
                </li>
                
                
              </ul>
        </div>
            
       <div class="col-8 col-sm-8 col-md-8 col-lg-9 mt-2" >
           <hr id="teamhr">
           <h1 style="font-family: sans-serif;" id="teamh1">Saksham</h1>
           <p class="lead" style="color: white;"><b>TEAM SUPERVISOR</b></p>
           <p class="lead" style="color: white;">He looks towards smooth conduct of the whole team and their working. He is the link for the smooth conduct between the whole team and management of different events.</p>
             <ul class="nav justify-content-left">
                <li class="nav-item">
                     <a class="nav-link" href="https://www.linkedin.com/in/saksham-singh-4a5a651b0" target="_blank"><i class='fab fa-linkedin' style='font-size:26px; color: #fff' id="teami" ></i></a>
                </li>
                <li class="nav-item">
                     <a class="nav-link" href="https://www.instagram.com/codechef.cgccoe/" target="_blank"><i class='fab fa-instagram' style='font-size:26px; color: #fff' id="teami"></i></a>
                </li>
                
                
              </ul>
        </div>
        
        
           <div class="col-3 col-sm-3 col-md-3 col-lg-3 pcimg" style="height: 230px; width: 300px; background-image: url(images/Saksham%20singh.jpeg); background-size: cover; border-radius: 25px;">
        </div>
         <div class="col-3 col-sm-3 col-md-3 col-lg-3 mobileimg mr-2" style="height: 150px; width: 150px; background-image: url(images/Saksham%20singh.jpeg); background-size: cover; border-radius: 25px;">
        </div> 
           
           <div class="col-3 col-sm-3 col-md-3 col-lg-3 pcimg" style="height: 230px; width: 300px; background-image: url(images/vipul.jpg); background-size: cover; border-radius: 25px;">
        </div>
         <div class="col-3 col-sm-3 col-md-3 col-lg-3 mobileimg ml-2" style="height: 150px; width: 150px; background-image: url(images/vipul.jpg); background-size: cover; border-radius: 25px;">
        </div> 
           
        <div class="col-8 col-sm-8 col-md-8 col-lg-9 mt-2">
            <hr id="teamhr">
            <h1 class="text-right " style="font-family: sans-serif;" id="teamh1">Vipul Gupta</h1>
            <p class="lead text-right" id="teamlead"><b>WEB DESIGN LEAD</b></p>
            <p class="lead text-right" style="color: white;">A chapter isn't complete without a website! He is the admin for our online presence and for the creation of this website.</p>
              <ul class="nav justify-content-end">
                <li class="nav-item">
                     <a class="nav-link" href="https://www.linkedin.com/in/vipul-gupta-18066a1b2" target="_blank"><i class='fab fa-linkedin' style='font-size:26px; color: #fff'  id="teami"></i></a>
                </li>
                <li class="nav-item">
                     <a class="nav-link" href="https://www.instagram.com/vipulgupta003/" target="_blank"><i class='fab fa-instagram' style='font-size:26px; color: #fff' id="teami"></i></a>
                </li>
                
                
              </ul>
        </div>   
           
          <div class="col-8 col-sm-8 col-md-8 col-lg-9 mt-2" >
              <hr id="teamhr">
              <h1 style="font-family: sans-serif;" id="teamh1">Sukhanpreet Singh</h1>
              <p class="lead" style="color: white;"><b>GRAPHICS DESIGNER</b></p>
              <p class="lead" id="teamlead">He is the one who designs those eye-catchy posters and social media posts to attract your eyes. His creativity and the potential to make the event fruitful is amazing.</p>
                <ul class="nav justify-content-left">
                <li class="nav-item">
                     <a class="nav-link" href="https://www.linkedin.com/in/sukhanpreet-singh-dhillon-7782a6190" target="_blank"><i class='fab fa-linkedin' style='font-size:26px; color: #fff' id="teami" ></i></a>
                </li>
                <li class="nav-item">
                     <a class="nav-link" href="https://www.instagram.com/rbbsukhrkhe/" target="_blank"><i class='fab fa-instagram' style='font-size:26px; color: #fff' id="teami"></i></a>
                </li>
                
                
              </ul>
        </div>
        
         <div class="col-3 col-sm-3 col-md-3 col-lg-3 pcimg" style="height: 230px; width: 300px; background-image: url(images/Sukhanpreet%20Singh.jpeg); background-size: cover; border-radius: 25px;">
        </div>
         <div class="col-3 col-sm-3 col-md-3 col-lg-3 mobileimg mr-2" style="height: 150px; width: 150px; background-image: url(images/Sukhanpreet%20Singh.jpeg); background-size: cover; border-radius: 25px;">
        </div> 
        
         <div class="col-3 col-sm-3 col-md-3 col-lg-3 pcimg" style="height: 230px; width: 300px; background-image: url(images/Chelsi%20Somani.jpeg); background-size: cover; border-radius: 25px;">
        </div>
        
         <div class="col-3 col-sm-3 col-md-3 col-lg-3 mobileimg ml-2" style="height: 150px; width: 150px; background-image: url(images/Chelsi%20Somani.jpeg); background-size: cover; border-radius: 25px;">
        </div> 
        
             
        <div class="col-8 col-sm-8 col-md-8 col-lg-9 mt-2">
            <hr id="teamhr">
            <h1 class="text-right " style="font-family: sans-serif;" id="teamh1">Chelsi Somani</h1>
            <p class="lead text-right" style="color: white;"><b>DIGITAL MARKETING LEAD</b></p>
            <p class="lead text-right" id="teamlead">We can't just keep our intresting events and new ideas within us. She is the one who lets the voice of our chapter into your notice. She manages the social media presence of our chapter and monitors the content and announcements.</p>
              <ul class="nav justify-content-end">
                <li class="nav-item">
                     <a class="nav-link" href="https://www.facebook.com/chelsi.somani" target="_blank"><i class='fab fa-facebook' style='font-size:26px; color: #fff' id="teami" ></i></a>
                </li>
                <li class="nav-item">
                     <a class="nav-link" href="https://www.instagram.com/chelsi_somani/" target="_blank"><i class='fab fa-instagram' style='font-size:26px; color: #fff' id="teami"></i></a>
                </li>
                
                
              </ul>
        </div>   
           
          <div class="col-8 col-sm-8 col-md-8 col-lg-9 mt-2" >
              <hr id="teamhr">
              <h1 style="font-family: sans-serif;" id="teamh1">Vikas Kumar</h1>
              <p class="lead" style="color: white;"><b>OPREATIONS ADMINISTRATOR</b></p>
            <p class="lead" id="teamlead">He is the pivot point for all of our events. He is the one who stays at the backend and is responsible for working of all events. He also takes care of official works and queries round the clock.</p>
                <ul class="nav justify-content-left">
                <li class="nav-item">
                     <a class="nav-link" href="https://www.linkedin.com/in/vikas-sethi" target="_blank"><i class='fab fa-linkedin' style='font-size:26px; color: #fff' id="teami" ></i></a>
                </li>
                <li class="nav-item">
                     <a class="nav-link" href="https://www.instagram.com/_vikas_sethi_/" target="_blank"><i class='fab fa-instagram' style='font-size:26px; color: #fff' id="teami"></i></a>
                </li>
                
                
              </ul>
        </div>
        
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 pcimg" style="height: 230px; width: 300px; background-image: url(images/Vikas%20Kumar.jpg); background-size: cover; border-radius: 25px;">
        </div>
         <div class="col-3 col-sm-3 col-md-3 col-lg-3 mobileimg mr-2" style="height: 150px; width: 150px; background-image: url(images/Vikas%20Kumar.jpg); background-size: cover; border-radius: 25px;">
        </div> 
        
         <div class="col-3 col-sm-3 col-md-3 col-lg-3 pcimg" style="height: 230px; width: 300px; background-image: url(images/Abhishek%20Kumar.jpeg); background-size: cover; border-radius: 25px;">
        </div>
         <div class="col-3 col-sm-3 col-md-3 col-lg-3 mobileimg ml-2" style="height: 150px; width: 150px; background-image: url(images/Abhishek%20Kumar.jpeg); background-size: cover; border-radius: 25px;">
        </div>
        
         <div class="col-8 col-sm-8 col-md-8 col-lg-9 mt-2">
             <hr id="teamhr">
            <h1 class="text-right " style="font-family: sans-serif;" id="teamh1">Abhishek Kumar</h1>
            <p class="lead text-right" style="color: white;"><b>FULLSTACK WEBSITE DEVELOPER</b></p>
            <p class="lead text-right" id="teamlead">He provides the technical support and functioning of our website. He is responsible for the backbone of our website. He is the one who manages the backend.</p>
               <ul class="nav justify-content-end">
                <li class="nav-item">
                     <a class="nav-link" href="https://www.linkedin.com/in/abhishek-kumar-8583321a7" target="_blank"><i class='fab fa-linkedin' style='font-size:26px; color: #fff' id="teami" ></i></a>
                </li>
                <li class="nav-item">
                     <a class="nav-link" href="https://www.instagram.com/_its_absk_/" target="_blank"><i class='fab fa-instagram' style='font-size:26px; color: #fff' id="teami"></i></a>
                </li>
                
                
              </ul>
        </div>  
        
          <div class="col-8 col-sm-8 col-md-8 col-lg-9 mt-2" >
              <hr id="teamhr">
              <h1 style="font-family: sans-serif;" id="teamh1">Shubh Bhardwaj</h1>
              <p class="lead" style="color: white;"><b>WEB DESIGN: DEVELOPER</b></p>
            <p class="lead" id="teamlead">He maintains the front-end and the proper functioning and prototyping for the website and our upcoming design ideas.</p>
                <ul class="nav justify-content-left">
                <li class="nav-item">
                     <a class="nav-link" href="https://www.facebook.com/shubh.bharadwaj.31" target="_blank"><i class='fab fa-facebook' style='font-size:26px; color: #fff'  id="teami"></i></a>
                </li>
                <li class="nav-item">
                     <a class="nav-link" href="https://www.instagram.com/shubh.bharadwaj.11/" target="_blank"><i class='fab fa-instagram' style='font-size:26px; color: #fff' id="teami"></i></a>
                </li>
                
                
              </ul>
        </div>
        
        
         <div class="col-3 col-sm-3 col-md-3 col-lg-3 pcimg" style="height: 230px; width: 300px; background-image: url(images/Shubh%20Bhardwaj.jpeg); background-size: cover; border-radius: 25px;">
        </div>
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 mobileimg ml-2" style="height: 150px; width: 150px; background-image: url(images/Shubh%20Bhardwaj.jpeg); background-size: cover; border-radius: 25px;">
        </div>
        
           
      
      </div>
    </div>

<%- include('./partials/footer') %>
